body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    object-fit: fill;
    filter: blur(8px);
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    z-index: -5;
}

.preamble {
    height: 9em;
    position: relative;
    margin: 0 2em;
}

.preamble q {
    white-space: pre-line;
    font-style: italic;
}

.preamble q::before, .preamble q::after { content: "" }

.preamble img {
    height: 100%;
    width: auto;
    float: left;
}

.preamble .quoted {
    font-weight: bold;
    margin: 1em 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: inherit;
}

.liron-likes-cuphead, .name-call {
    font-weight: bold;
    font-style: italic;
}

.name-call::before, .name-call::after {
    content: "\""
}

.black-sesame {
    float: left;
    width: 12em;
    margin-right: 0.5em;
}

.fries {
    float: right;
    width: 10em;
    margin-left: 0.5em;
}

.smooth {
    text-align: center;
}

@font-face {
    font-family: shluk;
    src: url("/assets/1/shluk.woff2");
}

.smooth h2 {
    font-family: shluk;
    font-size: 4em;
    margin-top: 0.3em;
    font-weight: normal;
    line-height: 1.2em;
}

.gluten-free {
    float: left;
    width: 8em;
    margin-right: 0.5em;
    margin-top: 0.8em;
}

.final-score {
    text-align: center;
    font-size: 1.2em;
}

.final-score h2 {
    font-family: inherit;
}

.seymour {
    margin: auto;
}

.smooth-animation {
    position: relative;
    height: 3em;
}

.animation-button {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.animation-square {
    width: 3em;
    height: 3em;
    background-color: black;
    transition-property: left, rotate;
    transition-duration: 2s;
    position: absolute;
    border-radius: 0.2em;
    left: 0;
}

.animation-square[right] {
    left: calc(100% - 3em);
    rotate: 360deg;
}
